@model NoteMarketPlace.Models.Users
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>Login - Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Admin/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/Admin/css/font-awesome/css/fontawesome.min.css">

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/4fa77e6d3c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/Admin/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/Admin/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/Admin/css/responsive.css">

</head>

<body>

    <!-- Background Image -->
    <img class="library-img" src="~/Content/Admin/images/login/banner-with-overlay.jpg" alt="Library">

    <!-- Login Box -->
    <section id="login">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="main-logo">
                        <a href="~/Admin/dashboard"><img class="img-fluid" src="~/Content/Admin/images/login/top-logo.png" alt="Notes MarketPlace Logo"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="login-box">
                        <p class="section-heading text-center">Login</p>
                        <p class="user-instruction">Enter your email address and password to login</p>
                        <form method="post">
                            <div class="form-group">
                                <label class="info-label" for="logina-email">Email</label>
                                @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control input-box-style", @id = "logina-email", @placeholder = "Enter your email" })
                                <div class="incorrect-password-label">
                                    <p>
                                        @Html.ValidationMessage("EmailId", new { style = "color:red" })
                                    </p>
                                </div>
                                <div class="incorrect-password-label">
                                    @Html.Raw(@TempData["Message"])
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="info-label" for="logina-pass">Password</label>
                                <div class="forgot-password-label-box">
                                    <label><a class="forgot-password-label" href="~/Admin/forgot">Forgot Password?</a></label>
                                </div>
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control input-box-style", id = "logina-pass", placeholder = "Enter your password", autocomplete = "on" })

                                <div class="eye"><img class="eye-img" src="~/Content/Admin/images/login/eye.png" alt="eye"></div>
                                <div class="incorrect-password-label">
                                    @Html.Raw(@ViewBag.incorrectPass)
                                </div>
                                <div class="incorrect-password-label">
                                    <p>
                                        @Html.ValidationMessage("Password", new { style = "color:red" })
                                    </p>
                                </div>
                            </div>
                            <div class="form-group form-check">

                                <input type="checkbox" class="form-check-input" id="logina-check">
                                <label id="remember-me-label" class="form-check-label" for="logina-check">Remember Me</label>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn btn-general btn-purple" >Login</button>
                            </div>
                        </form>
                        <div class="toggle-btw-login-signup text-center">
                            <p>Don't have an account? <span><a href="#">Sign Up</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- JQuery -->
    <script src="~/Scripts/Admin/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/js/script.js"></script>


</body>

</html>