@using PagedList
@using PagedList.Mvc
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>Manage Country - Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Admin/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/Admin/css/font-awesome/css/fontawesome.min.css">

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/4fa77e6d3c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/Admin/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/Admin/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/Admin/css/responsive.css">


    <script>
       
        window.history.forward();
        function noBack()
        {
          window.history.forward();
        }
    
        function searchNote()
        {

         document.getElementById("f2").submit();

        }
    </script>

</head>

<body>

    <section id="manage-country" class="admin-manage-page">

        <!-- Header -->
        <div class="only-white-nav extra-style-nav only-white-nav-with-mb">
            <header class="site-header">
                <div class="header-wrapper">

                    <!-- Mobile Menu Open Button -->
                    <span id="mobile-nav-open-btn">&#9776;</span>

                    <div class="logo-wrapper">
                        <a href="~/Admin/dashboard" title="Site Logo">
                            <img src="~/Content/Admin/images/logo/dark-logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navigation-wrapper">
                        <nav class="main-nav">
                            <ul class="menu-navigation">
                                <li>
                                    <a href="~/Admin/dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <div class="dropdown notes-btn-dropdown">
                                        <a role="button" id="notes-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>

                                        <div class="dropdown-menu" aria-labelledby="notes-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/notesUnderReview">Notes Under Review</a>
                                            <a class="dropdown-item" href="~/Admin/publishedNotes">Published Notes</a>
                                            <a class="dropdown-item" href="~/Admin/downloadNotes">Downloaded Notes</a>
                                            <a class="dropdown-item" href="~/Admin/rejectedNotes">Rejected Notes</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/Admin/members">Members</a>
                                </li>
                                <li>
                                    <div class="dropdown reports-btn-dropdown">
                                        <a role="button" id="reports-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>

                                        <div class="dropdown-menu" aria-labelledby="reports-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/spamReports">Spam Reports</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown settings-btn-dropdown">
                                        <a role="button" id="settings-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>

                                        <div class="dropdown-menu" aria-labelledby="settings-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/manageSystemConfiguration">Manage System Configuration</a>
                                            <a class="dropdown-item" href="~/Admin/manageAdministrator">Manage Administrator</a>
                                            <a class="dropdown-item" href="~/Admin/manageCategory">Manage Category</a>
                                            <a class="dropdown-item" href="~/Admin/manageType">Manage Type</a>
                                            <a class="dropdown-item" href="~/Admin/manageCountry">Manage Countries</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="logged-in-user-photo-li">
                                    <div class="dropdown user-picture-dropdown">
                                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="logged-in-user-photo">
                                                <img src="~/Content/Admin/images/testimonial/customer-1.png" alt="User Photo" class="rounded-circle">
                                            </div>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="~/Admin/myProfile">Update Profile</a>
                                            <a class="dropdown-item" href="~/Admin/changePassword">Change Password</a>
                                            <a class="dropdown-item logout-btn-dropdown" href="~/Admin/Logout">Logout</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="btn btn-general btn-purple" href="~/Admin/Logout" title="Download" role="button">Logout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <img class="logo-in-mobile-menu" src="~/Content/Admin/images/logo/dark-logo.png" alt="Notes Logo">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li>
                                    <a href="~/Admin/dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <div class="dropdown notes-btn-dropdown">
                                        <a role="button" id="notes-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>

                                        <div class="dropdown-menu" aria-labelledby="notes-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/notesUnderReview">Notes Under Review</a>
                                            <a class="dropdown-item" href="~/Admin/publishedNotes">Published Notes</a>
                                            <a class="dropdown-item" href="~/Admin/downloadNotes">Downloaded Notes</a>
                                            <a class="dropdown-item" href="~/Admin/rejectedNotes">Rejected Notes</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/Admin/members">Members</a>
                                </li>
                                <li>
                                    <div class="dropdown reports-btn-dropdown">
                                        <a role="button" id="reports-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>

                                        <div class="dropdown-menu" aria-labelledby="reports-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/spamReports">Spam Reports</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown settings-btn-dropdown">
                                        <a role="button" id="settings-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>

                                        <div class="dropdown-menu" aria-labelledby="settings-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/manageSystemConfiguration">Manage System Configuration</a>
                                            <a class="dropdown-item" href="~/Admin/manageAdministrator">Manage Administrator</a>
                                            <a class="dropdown-item" href="~/Admin/manageCategory">Manage Category</a>
                                            <a class="dropdown-item" href="~/Admin/manageType">Manage Type</a>
                                            <a class="dropdown-item" href="~/Admin/manageCountry">Manage Countries</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="logged-in-user-photo-li">
                                    <div class="logged-in-user-photo">
                                        <div class="dropdown">
                                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="~/Content/Admin/images/testimonial/customer-1.png" alt="User Photo" class="rounded-circle">
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="~/Admin/myProfile">Update Profile</a>
                                                <a class="dropdown-item" href="~/Admin/changePassword">Change Password</a>
                                                <a class="dropdown-item logout-btn-dropdown" href="~/Admin/Logout">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="btn btn-general btn-purple" href="~/Admin/Logout" title="Download" role="button">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Header ends -->
        <!-- manage-administrator table -->
        <div class="content-box-lg">
            @{
                IPagedList<NoteMarketPlace.Models.MyProgressNotes> countrydetails = ViewBag.countrymanagement;
                int s = 0;
            }

            <div class="container">
                <form name="f1">
                    <div class="row no-gutters">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left box-heading-wrapper">
                            <p class="box-heading">Manage Country</p>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                            <a href="~/Admin/addCountry" class="btn btn-general btn-purple add-country-btn">Add Country</a>
                        </div>

                        <div class="col-lg-7 col-md-7 col-sm-7 col-12">

                            <div class="row no-gutters general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/Admin/images/Dashboard/search-icon.png" alt=""></span>
                                    <form id="f2">
                                        <input type="text" class="form-control input-box-style search-notes-bar" id="example" name="cSearch" placeholder="Search">
                                </div>
                            </div>

                            <button class="btn btn-general btn-purple general-search-bar-btn" value="Search" name="submit">Search</button>
                </form>
            </div>

        </div>
        </div>
        </form>
        </div>


        <div class="container">

            <div class="manage-country-table general-table-responsive">
                <div class="table-responsive-xl">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">sr no.</th>
                                <th scope="col">Country Name</th>
                                <th scope="col">Country Code</th>
                                <th scope="col">Date Added</th>
                                <th scope="col">Added By</th>
                                <th scope="col" class="text-center">Active</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.countrymanagementCount > 0)
                            {
                                foreach (var i in countrydetails)
                                {
                                    s++;
                                    <tr>
                                        <td class="text-center">@s</td>
                                        <td>@i.country.CountryName</td>
                                        <td>@i.country.CountryCode</td>
                                        <td>@i.country.CreatedDate</td>
                                        <td>@i.u.FirstName  @i.u.LastName</td>
                                        @if(@i.country.IsActive == true)
                                        {
                                            <td class="text-center">Yes</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">No</td>
                                        }

                                        <td class="text-center">
                                            <a href="~/Admin/addCountry/@i.country.CountryID"><img class="edit-img-in-table" src="~/Content/Admin/images/Dashboard/edit.png" alt="edit"></a>
                                        <a href="~/Admin/deleteType/@i.country.CountryID"><img class="delete-img-in-table" src="~/Content/Admin/images/Dashboard/delete.png" alt="edit"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        <center>No Record Found!</center>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        </div>
        <!-- published note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(countrydetails, page => Url.Action("manageCountry", new
               {
                   page,
                   Search = Request.QueryString["cSearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <!-- Footer  -->
        <footer>
            <div class="container">
                <div class="row no-gutters">

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12 text-left">
                        <p class="version-footer">Version : 1.1.24</p>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-12 text-right">
                        <p class="copyright-footer">Copyright &copy; TatvaSoft All Rights Reserved.</p>
                    </div>

                </div>
            </div>
        </footer>
        <!-- Footer Ends -->

    </section>


    <!-- JQuery -->
    <script src="~/Scripts/Admin/js/jquery.js"></script>

    <!-- Production version -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/js/script.js"></script>


</body>

</html>