@model NoteMarketPlace.Models.Notes
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>Published Notes - Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Admin/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/Admin/css/font-awesome/css/fontawesome.min.css">

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/4fa77e6d3c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/Admin/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/Admin/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/Admin/css/responsive.css">
    <script>
        function searchNote() {

            document.getElementById("f1").submit();

        }
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>


</head>

<body>

    <section id="published-notes" class="admin-manage-page">

        <!-- Header -->
        <div class="only-white-nav extra-style-nav only-white-nav-with-mb">
            <header class="site-header">
                <div class="header-wrapper">

                    <!-- Mobile Menu Open Button -->
                    <span id="mobile-nav-open-btn">&#9776;</span>

                    <div class="logo-wrapper">
                        <a href="~/Admin/dashboard" title="Site Logo">
                            <img src="~/Content/Admin/images/logo/dark-logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navigation-wrapper">
                        <nav class="main-nav">
                            <ul class="menu-navigation">
                                <li>
                                    <a href="~/Admin/dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <div class="dropdown notes-btn-dropdown">
                                        <a role="button" id="notes-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>

                                        <div class="dropdown-menu" aria-labelledby="notes-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/notesUnderReview">Notes Under Review</a>
                                            <a class="dropdown-item" href="~/Admin/publishedNotes">Published Notes</a>
                                            <a class="dropdown-item" href="~/Admin/downloadNotes">Downloaded Notes</a>
                                            <a class="dropdown-item" href="~/Admin/rejectedNotes">Rejected Notes</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/Admin/members">Members</a>
                                </li>
                                <li>
                                    <div class="dropdown reports-btn-dropdown">
                                        <a role="button" id="reports-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>

                                        <div class="dropdown-menu" aria-labelledby="reports-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/spamReports">Spam Reports</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown settings-btn-dropdown">
                                        <a role="button" id="settings-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>

                                        <div class="dropdown-menu" aria-labelledby="settings-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/manageSystemConfiguration">Manage System Configuration</a>
                                            <a class="dropdown-item" href="~/Admin/manageAdministrator">Manage Administrator</a>
                                            <a class="dropdown-item" href="~/Admin/manageCategory">Manage Category</a>
                                            <a class="dropdown-item" href="~/Admin/manageType">Manage Type</a>
                                            <a class="dropdown-item" href="~/Admin/manageCountry">Manage Countries</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="logged-in-user-photo-li">
                                    <div class="dropdown user-picture-dropdown">
                                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="logged-in-user-photo">
                                                <img src="~/Content/Admin/images/testimonial/customer-1.png" alt="User Photo" class="rounded-circle">
                                            </div>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="~/Admin/myProfile">Update Profile</a>
                                            <a class="dropdown-item" href="~/Admin/changePassword">Change Password</a>
                                            <a class="dropdown-item logout-btn-dropdown" href="~/Admin/Logout" onclick="noBack()">Logout</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="btn btn-general btn-purple" href="~/Admin/Logout" title="Download" role="button" onclick="noBack()">Logout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <img class="logo-in-mobile-menu" src="~/Content/Admin/images/logo/dark-logo.png" alt="Notes Logo">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li>
                                    <a href="~/Admin/dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <div class="dropdown notes-btn-dropdown">
                                        <a role="button" id="notes-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>

                                        <div class="dropdown-menu" aria-labelledby="notes-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/notesUnderReview">Notes Under Review</a>
                                            <a class="dropdown-item" href="~/Admin/publishedNotes">Published Notes</a>
                                            <a class="dropdown-item" href="~/Admin/downloadNotes">Downloaded Notes</a>
                                            <a class="dropdown-item" href="~/Admin/rejectedNotes">Rejected Notes</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="~/Admin/members">Members</a>
                                </li>
                                <li>
                                    <div class="dropdown reports-btn-dropdown">
                                        <a role="button" id="reports-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>

                                        <div class="dropdown-menu" aria-labelledby="reports-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/spamReports">Spam Reports</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown settings-btn-dropdown">
                                        <a role="button" id="settings-dropdown-lable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>

                                        <div class="dropdown-menu" aria-labelledby="settings-dropdown-lable">
                                            <a class="dropdown-item" href="~/Admin/manageSystemConfiguration">Manage System Configuration</a>
                                            <a class="dropdown-item" href="~/Admin/manageAdministrator">Manage Administrator</a>
                                            <a class="dropdown-item" href="~/Admin/manageCategory">Manage Category</a>
                                            <a class="dropdown-item" href="~/Admin/manageType">Manage Type</a>
                                            <a class="dropdown-item" href="~/Admin/manageCountry">Manage Countries</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="logged-in-user-photo-li">
                                    <div class="logged-in-user-photo">
                                        <div class="dropdown">
                                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="~/Content/Admin/images/testimonial/customer-1.png" alt="User Photo" class="rounded-circle">
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="~/Admin/myProfile">Update Profile</a>
                                                <a class="dropdown-item" href="~/Admin/changePassword">Change Password</a>
                                                <a class="dropdown-item logout-btn-dropdown" href="~/Admin/Logout" onclick="noBack()">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="btn btn-general btn-purple" href="~/Admin/Logout" title="Download" role="button" onclick="noBack()">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Header ends -->
        <!-- Notes details -->
        <div class="container">

            <div class="content-box-lg with-bottoder">
                <p class="box-heading">Notes Details</p>
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 note-details-left">
                        <div class="row no-gutters">
                            @if (Model.NotesDp == null)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6"><img class="note-img-full img-fluid" src="D:\ASP.NET\NotesMarketPlace\Content\User\images\notes-detail\1.jpg" alt="" height="300" width="240"></div>
                            }
                            else
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6"><img class="note-img-full img-fluid" src="@Url.Content(Model.NotesDp)" alt="" height="300" width="240"></div>
                            }


                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="note-desc-box">

                                    <p class="note-name"> @Model.NotesTitle</p>
                                    <p class="note-type-genre"> @ViewBag.Category</p>
                                    <p class="note-desc">@Model.Description</p>

                                    @using (Html.BeginForm("DownloadFile", "Admin", FormMethod.Get))
                                    {
                                        <input type="hidden" value="@Model.NoteID" name="id" />
                                        if (Session["UserID"] != null)
                                        {
                                            if (Model.SellType == "Paid")
                                            {
                                                <a href="~/Admin/DownloadFile/@Model.NoteID" class="btn btn-general btn-purple">Download / $@Model.SellPrice</a>
                                            }
                                            else
                                            {
                                                <a href="~/Admin/DownloadFile/@Model.NoteID" class="btn btn-general btn-purple">Download</a>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.SellType == "Paid")
                                            {

                                                <button type="submit" class="btn btn-general btn-purple">Download / $@Model.SellPrice</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-general btn-purple">Download</button>
                                            }

                                        }
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 note-details-right">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="note-details-left-part">
                                    <p class="note-single-detail-tag">Institution:</p>
                                    <p class="note-single-detail-tag">Country:</p>
                                    <p class="note-single-detail-tag">Course Name:</p>
                                    <p class="note-single-detail-tag">Course Code:</p>
                                    <p class="note-single-detail-tag">Professor:</p>
                                    <p class="note-single-detail-tag">Number of Pages :</p>
                                    <p class="note-single-detail-tag">Approved Date:</p>
                                    <p class="note-single-detail-tag">Rating :</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="note-details-right-part">
                                    <p class="note-single-detail">@Model.UniversityInformation</p>
                                    <p class="note-single-detail">@ViewBag.Country</p>
                                    <p class="note-single-detail">@Model.CourseName</p>
                                    <p class="note-single-detail">@Model.CourseCode</p>
                                    <p class="note-single-detail">@Model.Professor</p>
                                    <p class="note-single-detail">@Model.NoOfPages</p>
                                    <p class="note-single-detail">@Model.NotesPublishedDateTime</p>
                                    <p class="note-single-detail">
                                        @if (ViewBag.ratingCount > 0)
                                        {

                                            for (int i = 1; i <= Math.Round(ViewBag.ratingSum / ViewBag.ratingCount); i++)
                                            {
                                                <i class="text-warning fa fa-star"></i>
                                            }
                                            for (int i = 1; i <= 5 - Math.Round(ViewBag.ratingSum / ViewBag.ratingCount); i++)
                                            {
                                                <i class="text-muted fa fa-star"></i>
                                            }
                                        }
                                        @if (ViewBag.ratingCount == 0)
                                        {
                                            for (int i = 1; i <= 5; i++)
                                            {
                                                <i class="text-muted fa fa-star"></i>
                                            }
                                        }
                                        @ViewBag.ratingCount Reviews
                                    </p>
                                </div>
                            </div>
                            <p class="red-text">@ViewBag.spamtotalcount Users marked this note as inappropriate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Notes details -->
        <!-- preview and revies -->
        <div class="container">
            <div class="content-box-lg">
                <div class="row no-gutters">

                    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                        <div class="notes-preview-box">
                            <p class="box-heading">Notes Preview</p>
                            @if (Model.PreviewUpload != null)
                            {
                                <iframe src="@Url.Content(Model.PreviewUpload)"></iframe>
                            }
                            else
                            {
                                <div style="border:1px solid #d1d1d1; border-radius:2px; height:467px; ">
                                    <div style="border:1px solid #d1d1d1; padding:20px 0 20px 0; margin:45% 8% 0 8%; border-left:none; border-right:none;">
                                        <center>No Preview available for free note.</center>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                        <div class="customer-review-box">
                            <p class="box-heading">Customer Reviews</p>

                            <div class="customer-review-tiles">

                                @if (ViewBag.ratingCount > 0)
                                {
                                    foreach (var i in ViewBag.reviewdetailbag)
                                    {
                                        <div class="customer-review-tile-border-bottom" style="margin-top:0;"></div>

                                        <div class="customer-review-tile">
                                            <div class="row no-gutters">
                                                <div class="col-lg-2 col-md-3 col-sm-2 col-12">
                                                    <img class="reviewer-photo" src="~/Content/User/images/testimonial/customer-1.png" alt="">
                                                </div>
                                                <div class="col-lg-10 col-md-9 col-sm-10 col-12">
                                                    <p class="reviewer-name">@i.u.FirstName @i.u.LastName</p>
                                                    <p class="reviewer-rating">
                                                        @{
                                                            string s = i.review.Ratings.ToString();
                                                            string[] str = s.Split('.');
                                                            int sf = Convert.ToInt32(str[0]);
                                                            int sb = Convert.ToInt32(str[1]);
                                                            bool z = sb > 0;
                                                        }
                                                        <span>
                                                            @for (int j = 0; j < sf; j++)
                                                            {
                                                                <img src="~/Content/User/images/notes-detail/star.png" alt="star">
                                                            }
                                                            @if (z)
                                                            {
                                                                <img src="~/Content/User/images/notes-detail/star-half.png" alt="star">
                                                            }
                                                            @if (z)
                                                            {
                                                                for (int j = 0; (j < 4 - sf); j++)
                                                                {
                                                                    <img src="~/Content/User/images/notes-detail/star-white.png" alt="star">
                                                                }
                                                            }
                                                            else
                                                            {
                                                                for (int j = 0; (j < 5 - sf); j++)
                                                                {
                                                                    <img src="~/Content/User/images/notes-detail/star-white.png" alt="star">
                                                                }
                                                            }
                                                        </span>
                                                    </p>
                                                    <p class="reviewer-text">@i.review.Comments</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="customer-review-tile-border-bottom" style="margin-bottom:0;"></div>

                                    }
                                }
                                else
                                {
                                    <hr />
                                    <center>@ViewBag.ratingSum</center>
                                    <hr />
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preview and revies -->
        <!-- Footer  -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-12 text-left">
                        <p>Copyright &copy; TatvaSoft All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-4 col-12 text-right">
                        <ul class="social-list">
                            <li><a class="facebook-img" href="#"><img src="~/Content/User/images/Homepage/facebook.png" alt=""></a></li>
                            <li><a class="twitter-img" href="#"><img src="~/Content/User/images/Homepage/twitter.png" alt=""></a></li>
                            <li><a class="linkedin-img" href="#"><img src="~/Content/User/images/Homepage/linkedin.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Ends -->

    </section>


    <!-- JQuery -->
    <script src="~/Scripts/User/js/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/User/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/User/js/script.js"></script>


</body>

</html>
