@using PagedList
@using PagedList.Mvc
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>Dashboard - Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/User/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/User/css/font-awesome/css/fontawesome.min.css">

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/4fa77e6d3c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/User/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">

    <script>
    
        function searchNote()
        {

            document.getElementById("searchForm").submit();

        }
    </script>



</head>

<body>

    <section id="dashboard">

        <!-- Header -->
        <!-- Header -->
        <div class="only-white-nav extra-style-nav">
            <header class="site-header">
                <div class="header-wrapper">

                    <!-- Mobile Menu Open Button -->
                    <span id="mobile-nav-open-btn">&#9776;</span>

                    <div class="logo-wrapper">
                        <a href="~/User/home" title="Site Logo">
                            <img src="~/Content/User/images/logo/dark-logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navigation-wrapper">
                        <nav class="main-nav">
                            <ul class="menu-navigation">
                                <li>
                                    <a href="~/User/searchnotes">Search Notes</a>
                                </li>
                                <li>
                                    <a href="~/User/dashboard">Sell Your Notes</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/User/buyerRequests">Buyer Requests</a>
                                    </li>
                                }
                                <li>
                                    <a href="~/User/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="~/User/contactUs">Contact Us</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="logged-in-user-photo-li">
                                        <div class="dropdown">
                                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="logged-in-user-photo">
                                                    <img src="@Session["dpPath"]" alt="User Photo" class="rounded-circle">
                                                </div>
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="~/User/userProfile">My Profile</a>
                                                <a class="dropdown-item" href="~/User/myDownloads">My Downloads</a>
                                                <a class="dropdown-item" href="~/User/mySoldNotes">My Sold Notes</a>
                                                <a class="dropdown-item" href="~/User/myRejectedNotes">My Rejected Notes</a>
                                                <a class="dropdown-item" href="~/User/changePassword">Change Password</a>
                                                <a class="dropdown-item logout-btn-dropdown" href="/User/Logout">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>

                                        <a class="btn btn-general btn-purple" href="/User/Logout" title="Download" role="button">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/login" title="Download" role="button">Login</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <img class="logo-in-mobile-menu" src="~/Content/User/images/logo/dark-logo.png" alt="Notes Logo">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li>
                                    <a href="~/User/searchNotes">Search Notes</a>
                                </li>
                                <li>
                                    <a href="~/User/dashboard">Sell Your Notes</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/User/buyerRequests">Buyer Requests</a>
                                    </li>
                                }
                                <li>
                                    <a href="~/User/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="~/User/contactUs">Contact Us</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class=" logged-in-user-photo-li">
                                        <div class="logged-in-user-photo">
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="@Session["dpPath"]" alt="User Photo" class="rounded-circle">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="~/User/userProfile">My Profile</a>
                                                    <a class="dropdown-item" href="~/User/myDownloads">My Downloads</a>
                                                    <a class="dropdown-item" href="~/User/mySoldNotes">My Sold Notes</a>
                                                    <a class="dropdown-item" href="~/User/myRejectedNotes">My Rejected Notes</a>
                                                    <a class="dropdown-item" href="~/User/changePassword">Change Password</a>
                                                    <a class="dropdown-item logout-btn-dropdown" href="/User/Logout">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/Logout" title="Download" role="button">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/login" title="Download" role="button">Login</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Header ends -->
        <!-- Header ends -->
        <!-- Dashboard box -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-left">
                        <p class="dashboard-heading">Dashboard</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                        <a href="~/User/addNote"><button class="btn btn-general btn-purple add-note-btn">Add Note</button></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row no-gutters">

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row no-gutters my-earning-wrapper-left">

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="my-earning-heading dashboard-single-box">
                                    <img src="~/Content/User/images/Dashboard/earning-icon.svg" alt="">
                                    <p class="box-heading">My Earning</p>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="number-of-notes-sold dashboard-single-box">
                                    <p class="dashboard-single-detail">@ViewBag.mySoldNotes</p>
                                    <p class="dashboard-single-detail-inst">Number of Notes Sold</p>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="money-earned dashboard-single-box">
                                    <p class="dashboard-single-detail">$@ViewBag.totalEarning</p>
                                    <p class="dashboard-single-detail-inst">Money Earned</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-earning-wrapper-right">

                        <div class="row no-gutters">

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="my-downloads dashboard-single-box">
                                    <p class="dashboard-single-detail">@ViewBag.myDownloadNotes</p>
                                    <p class="dashboard-single-detail-inst">My Downloads</p>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="my-rejected-notes dashboard-single-box">
                                    <p class="dashboard-single-detail">@ViewBag.myRejectedNotes</p>
                                    <p class="dashboard-single-detail-inst">My Rejected Notes</p>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="buyer-request dashboard-single-box">
                                    <p class="dashboard-single-detail">@ViewBag.buyerRequests</p>
                                    <p class="dashboard-single-detail-inst">Buyer Requests</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- Dashboard box -->
        <!-- progress note table -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="box-heading">In Progress Notes</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <form name="f1">
                            <div class="row no-gutters text-right general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">


                                    <span class="search-symbol"><img src="~/Content/User/images/Dashboard/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search notes here..." name="pSearch" value="Search" />


                                </div>

                                <button class="btn btn-general btn-purple general-search-bar-btn" value="Search" name="submit">Search</button>

                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="container">

                @{
                    IPagedList<NoteMarketPlace.Models.MyProgressNotes> Inprogerss = ViewBag.inProgressNotes;
                }

                <div class="in-progress-notes-table general-table-responsive">
                    <div class="table-responsive-xl">


                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Added date</th>
                                    <th scope="col">title</th>
                                    <th scope="col">category</th>
                                    <th scope="col">status</th>
                                    <th scope="col" class="text-center">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.inProgessNotesCount > 0)
                                {
                                    foreach (var i in Inprogerss)
                                    {
                                        <tr>
                                            <td>@i.SellerNotes.CreatedDate</td>
                                            <td>@i.SellerNotes.NotesTitle</td>
                                            <td>@i.Category.CategoryName</td>
                                            <td>@i.Status.Status</td>

                                            <td class="text-center">
                                                <a href="~/User/noteDetails/@i.SellerNotes.NoteID"><img class="edit-img-in-table" src="~/Content/User/images/Dashboard/edit.png" alt="edit"></a>
                                                <a href="~/User/DeleteNotes/@i.SellerNotes.NoteID"><img class="delete-img-in-table" src="~/Content/User/images/Dashboard/delete.png" alt="edit"></a>
                                            </td>


                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">
                                            <center>No Record Found!</center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- progress note table -->
        <!-- pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(Inprogerss, page => Url.Action("dashboard", new
               {
                   page,
                   Search = Request.QueryString["pSearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>
        <!-- pagination -->
        <!-- published note table -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="box-heading">Published Notes</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <form name="f2">
                            <div class="row no-gutters text-right general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/User/images/Dashboard/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control input-box-style search-notes-bar" id="example" name="pSearch" placeholder="Search notes here...">
                                </div>

                                <button class="btn btn-general btn-purple general-search-bar-btn" value="Search2" name="submit">Search</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="container">

                @{
                    IPagedList<NoteMarketPlace.Models.MyPublishNotes> published = ViewBag.publishedNote;
                }

                <div class="published-notes-table general-table-responsive">
                    <div class="table-responsive-lg">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Added date</th>
                                    <th scope="col">title</th>
                                    <th scope="col">category</th>
                                    <th scope="col">sell type</th>
                                    <th scope="col">price</th>
                                    <th scope="col" class="text-center">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.publishedNoteCount > 0)
                                {
                                    foreach (var i in published)
                                    {
                                        <tr>
                                            <td>@i.SellerNotes.CreatedDate</td>
                                            <td>@i.SellerNotes.NotesTitle</td>
                                            <td>@i.Category.CategoryName</td>
                                            <td>@i.SellerNotes.SellType</td>
                                            <td>@i.SellerNotes.SellPrice</td>
                                            <td class="text-center"><a href="~/User/noteDetails/@i.SellerNotes.NoteID"><img class="eye-img-in-table" src="~/Content/User/images/Dashboard/eye.png" alt="eye"></a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            <center>No Record Found!</center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- published note table -->
        <!-- pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(published, page => Url.Action("dashboard", new
               {
                   page,
                   Search = Request.QueryString["pSearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>
        <!-- pagination -->
        <!-- Footer  -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-12 text-left">
                        <p>Copyright &copy; TatvaSoft All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-4 col-12 text-right">
                        <ul class="social-list">
                            <li><a class="facebook-img" href="#"><img src="~/Content/User/images/Homepage/facebook.png" alt=""></a></li>
                            <li><a class="twitter-img" href="#"><img src="~/Content/User/images/Homepage/twitter.png" alt=""></a></li>
                            <li><a class="linkedin-img" href="#"><img src="~/Content/User/images/Homepage/linkedin.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Ends -->

    </section>


    <!-- JQuery -->
    <script src="~/Scripts/User/js/jquery.js"></script>

    <!-- Production version -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/User/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/User/js/script.js"></script>

</body>

</html>

