@model NoteMarketPlace.Models.Users
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>Login - Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/User/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/User/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">

</head>

<body>

    <!-- Background Image -->
    <img class="library-img" src="~/Content/User/images/login/banner-with-overlay.jpg" alt="Library">

    <!-- Login Box -->
    <section id="login">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="main-logo">
                        <a href="~/User/home"><img class="img-fluid" src="~/Content/User/images/login/top-logo.png" alt="Notes MarketPlace Logo"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="login-box">
                        <p class="section-heading text-center">Login</p>
                        <p class="user-instruction">Enter your email address and password to login</p>
                        <div class="success-msg">
                            @Html.Raw(@TempData["SuccessMessage"])
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <label class="info-label" for="exampleInputEmail1">Email</label>
                                @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control input-box-style", id = "exampleInputEmail1", placeholder = "Enter your email" })
                                <div class="incorrect-password-label">
                                    <p>
                                        @Html.ValidationMessage("EmailId", new { style = "color:red" })
                                    </p>
                                </div>
                                <div class="incorrect-password-label">
                                    @Html.Raw(@TempData["Message"])
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="info-label" for="login-password">Password</label>
                                <div class="forgot-password-label-box">
                                    <label><a class="forgot-password-label" href="~/User/forgot">Forgot Password?</a></label>
                                </div>
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control input-box-style", id = "Password", placeholder = "Enter your password" })
                                <div class="eye"><img class="eye-img" src="~/Content/User/images/login/eye.png" alt="eye"></div>
                                <div class="incorrect-password-label">
                                    @Html.Raw(@ViewBag.incorrectPass)
                                </div>
                                <div class="incorrect-password-label">
                                    <p>
                                        @Html.ValidationMessage("Password", new { style = "color:red" })
                                    </p>
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="login-checkbox">
                                <label id="remember-me-label" class="form-check-label" for="login-checkbox">Remember Me</label>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn btn-general btn-purple">Login</button>
                            </div>
                        </form>
                        <div class="toggle-btw-login-signup text-center">
                            <p>Don't have an account? <span><a href="~/User/signUp">Sign Up</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- JQuery -->
    <script src="~/Scripts/User/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/User/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/User/js/script.js"></script>


</body>

</html>