@using PagedList
@using PagedList.Mvc 
@model NoteMarketPlace.Models.Review
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>My Downloads - Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/User/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/User/css/font-awesome/css/fontawesome.min.css">

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/4fa77e6d3c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/User/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">

    <!-- Script for star-->
    <script type="text/javascript">
        function FillOut(rating) {
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-muted fa fa-star');
            }
        }
        function FillOver(rating) {
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-warning fa fa-star');
            }
        }
        function FillClick(rating) {
            $("#lblRating").val(rating);
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-warning fa fa-star');
            }
            for (var i = rating + 1; i <= 5; i++) {
                $("#s" + i).attr('class', 'text-muted fa fa-star');
            }
        }
        function FillSelected() {
            var rating = $("#lblRating").val();
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-warning fa fa-star');
            }
        }
        
        
    </script>
    

</head>

<body>

    <section id="my-downloads">

        <!-- Header -->
        <!-- Header -->
        <div class="only-white-nav extra-style-nav">
            <header class="site-header">
                <div class="header-wrapper">

                    <!-- Mobile Menu Open Button -->
                    <span id="mobile-nav-open-btn">&#9776;</span>

                    <div class="logo-wrapper">
                        <a href="~/User/home" title="Site Logo">
                            <img src="~/Content/User/images/logo/dark-logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navigation-wrapper">
                        <nav class="main-nav">
                            <ul class="menu-navigation">
                                <li>
                                    <a href="~/User/searchnotes">Search Notes</a>
                                </li>
                                <li>
                                    <a href="~/User/dashboard">Sell Your Notes</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/User/buyerRequests">Buyer Requests</a>
                                    </li>
                                }
                                <li>
                                    <a href="~/User/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="~/User/contactUs">Contact Us</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="logged-in-user-photo-li">
                                        <div class="dropdown">
                                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="logged-in-user-photo">
                                                    <img src="@Session["dpPath"]" alt="User Photo" class="rounded-circle">
                                                </div>
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="~/User/userProfile">My Profile</a>
                                                <a class="dropdown-item" href="~/User/myDownloads">My Downloads</a>
                                                <a class="dropdown-item" href="~/User/mySoldNotes">My Sold Notes</a>
                                                <a class="dropdown-item" href="~/User/myRejectedNotes">My Rejected Notes</a>
                                                <a class="dropdown-item" href="~/User/changePassword">Change Password</a>
                                                <a class="dropdown-item logout-btn-dropdown" href="/User/Logout">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>

                                        <a class="btn btn-general btn-purple" href="/User/Logout" title="Download" role="button">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/login" title="Download" role="button">Login</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <img class="logo-in-mobile-menu" src="~/Content/User/images/logo/dark-logo.png" alt="Notes Logo">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li>
                                    <a href="~/User/searchNotes">Search Notes</a>
                                </li>
                                <li>
                                    <a href="~/User/dashboard">Sell Your Notes</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/User/buyerRequests">Buyer Requests</a>
                                    </li>
                                }
                                <li>
                                    <a href="~/User/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="~/User/contactUs">Contact Us</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class=" logged-in-user-photo-li">
                                        <div class="logged-in-user-photo">
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="@Session["dpPath"]" alt="User Photo" class="rounded-circle">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="~/User/userProfile">My Profile</a>
                                                    <a class="dropdown-item" href="~/User/myDownloads">My Downloads</a>
                                                    <a class="dropdown-item" href="~/User/mySoldNotes">My Sold Notes</a>
                                                    <a class="dropdown-item" href="~/User/myRejectedNotes">My Rejected Notes</a>
                                                    <a class="dropdown-item" href="~/User/changePassword">Change Password</a>
                                                    <a class="dropdown-item logout-btn-dropdown" href="/User/Logout">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/Logout" title="Download" role="button">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/login" title="Download" role="button">Login</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Header ends -->
        <!-- Header ends -->

        @{
            IPagedList<NoteMarketPlace.Models.MyProgressNotes> mydownload = ViewBag.downloadednotes;
            int s = 0;
        }
        @foreach (var i in mydownload)
        {
            <!-- Review popup -->
            using (Html.BeginForm("noteReview", "User", FormMethod.Get))
            {
                <div class="modal fade" id="ReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <img src="~/Content/User/images/notes-detail/close.png" alt="">
                                </button>
                            </div>
                            <div class="modal-body">

                                <p class="add-review-heading">Add Review</p>

                                <div class="add-reviews-stars" onmouseout="FillSelected()">
                                    <i id="s1" class="text-muted fa fa-star" onmouseout="FillOut(1)" onmouseover="FillOver(1)" onclick="FillClick(1)"></i>
                                    <i id="s2" class="text-muted fa fa-star" onmouseout="FillOut(2)" onmouseover="FillOver(2)" onclick="FillClick(2)"></i>
                                    <i id="s3" class="text-muted fa fa-star" onmouseout="FillOut(3)" onmouseover="FillOver(3)" onclick="FillClick(3)"></i>
                                    <i id="s4" class="text-muted fa fa-star" onmouseout="FillOut(4)" onmouseover="FillOver(4)" onclick="FillClick(4)"></i>
                                    <i id="s5" class="text-muted fa fa-star" onmouseout="FillOut(5)" onmouseover="FillOver(5)" onclick="FillClick(5)"></i>
                                </div>
                                <input type="hidden" id="lblRating" name="Ratings" />

                                <div class="form-group">
                                    <label class="info-label" for="comment-questions">Comments *</label>
                                    @Html.TextAreaFor(x => x.Comments, new { @class = "form-control input-box-style", id = "md-review", placeholder = "Comments...", style = "resize:none;" })
                                    <div class="incorrect-password-label">
                                        <p>
                                            @Html.ValidationMessage("Comments", new { style = "color:red" })
                                        </p>
                                    </div>
                                </div>


                                <input type="hidden" value="@i.SellerNotes.NoteID" name="noteID" />


                                <div class="form-btn">
                                    <button type="submit" class="btn btn-general btn-purple" name="submit1">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- Review popup -->
        <!-- Report popup -->
        @foreach (var i in mydownload)
        {
            using (Html.BeginForm("Inappropriate", "User", FormMethod.Get))
            {
                <div class="modal fade" id="ReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <img src="~/Content/User/images/notes-detail/close.png" alt="">
                                </button>
                            </div>
                            <div class="modal-body">

                                <p class="add-review-heading">Add Review</p>

                                <div class="form-group">
                                    <label class="info-label" for="comment-questions">Remarks *</label>
                                    @Html.TextAreaFor(x => x.Comments, new { @class = "form-control input-box-style", id = "md-report", placeholder = "Remarks...", style = "resize:none;" })

                                </div>


                                <input type="hidden" value="@i.downloadnote.DownloadID" name="downloadID" />


                                <div class="form-btn">
                                    <button type="submit" class="btn btn-general btn-purple" name="submit2">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- Report popup -->
        <!-- my downloads table -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="my-downloads-heading">My Downloads</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <form name="d1">
                            <div class="row no-gutters text-right general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/User/images/Dashboard/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search notes here..." name="downloadSearch">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn" name="submit" value="Search">Search</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="container">

                <div class="my-downloads-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Sr no.</th>
                                    <th scope="col">Note title</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Seller</th>
                                    <th scope="col">Sell type</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Downloaded time</th>
                                    <th scope="col" width="80px">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (ViewBag.DownloadNotesCount > 0)
                                {
                                    foreach (var i in mydownload)
                                    {
                                        s++;
                                        <tr>
                                            <td>@s</td>
                                            <td class="purple-td"><a href="noteDetails(@i.downloadnote.NoteID)">@i.SellerNotes.NotesTitle </a></td>
                                            <td>@i.Category.CategoryName</td>
                                            <td>@i.u.EmailId</td>
                                            <td>@i.SellerNotes.SellType</td>
                                            <td>@i.SellerNotes.SellPrice</td>
                                            <td>@i.downloadnote.AttachmentDownloadedDate</td>
                                            <td class="text-center visible-overflow-for-dropdown">
                                                <a href="~/User/noteDetails/@i.downloadnote.NoteID"><img class="eye-img-in-table" src="~/Content/User/images/Dashboard/eye.png" alt="edit"></a>

                                                <div class="dropdown dropdown-dots-table">
                                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img class="dots-in-table" src="~/Content/User/images/Dashboard/dots.png" alt="edit">
                                                    </a>

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="~/User/Download/@i.downloadnote.NoteID">Download Note</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ReviewModal">Add Reviews / Feedback</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ReportModal">Report as Inappropriate</a>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">
                                            <center>No Record Found!</center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- progress note table -->
        <!-- pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(mydownload, page => Url.Action("myDownloads", new
               {
                   page,
                   Search = Request.QueryString["downloadSearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>
        <!-- pagination -->
        <!-- Footer  -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-12 text-left">
                        <p>Copyright &copy; TatvaSoft All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-4 col-12 text-right">
                        <ul class="social-list">
                            <li><a class="facebook-img" href="#"><img src="~/Content/User/images/Homepage/facebook.png" alt=""></a></li>
                            <li><a class="twitter-img" href="#"><img src="~/Content/User/images/Homepage/twitter.png" alt=""></a></li>
                            <li><a class="linkedin-img" href="#"><img src="~/Content/User/images/Homepage/linkedin.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Ends -->

    </section>


    <!-- JQuery -->
    <script src="~/Scripts/User/js/jquery.js"></script>

    <!-- Production version -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/User/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/User/js/script.js"></script>


</body>

</html>
